<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">Spending Tracker</a>
        <div>
            <a class="btn btn-outline-light btn-sm me-2" href="/">Home</a>
            <a class="btn btn-outline-light btn-sm me-2" href="/spendings">View Spendings</a>
            <a class="btn btn-warning btn-sm" href="/add">Add Spending</a>
        </div>
    </div>
</nav>
